.edit-modal {
    left: 50%;
    top: 50%;
    height: 30%;
    width: 20%;
    padding: 20px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.edit-modal p {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #bababb;
}

.edit-modal img {
    width: 50px;
}

.ok-container {
    display: flex;
    justify-content: end;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ok-btn {
    background-color: #4461F2;
    border-radius: 5px;
    border: none;
    color: white;
    /* padding: 10px; */
    width: 40%;
    height: 30px;
    margin-top: 10px;
}