dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondaryColor);
    width: 25%;
    height: 50%;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    border: none;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog label {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

dialog h2 {
    color: white;
}

dialog h4 {
    margin-top: 10px;
    color: white;
}

dialog .save_button {
    width: 40%;
}

dialog .btns_container {
    justify-content: end;
    display: flex;
    align-items: center;
}