.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.pagination button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 14px 8px 14px;
}

.active {
    background-color: var(--darkGrayColor);
}

.not-active {
    background-color: transparent;
}