.empty-list {
    position: absolute;
    left: 50%;
    top: 50%;
    font-style: italic;
    color: gray;
    letter-spacing: 1px;
}

.search-container {
    border-radius: 10px;
    padding: 10px;
    padding-left: 0;
    margin-top: 10px;
}

.search-container input {
    background-color: var(--secondaryColor);
    border: 1px solid var(--lightGrayColor);
    border-radius: 5px;
    color: white;
    padding: 5px 5px 5px 30px;
    outline: none;
    width: 25%;
}

.search-container svg {
    position: relative;
    right: 24.2%;
    top: 3.5px;
}

.search-container button {
    background-color: var(--primaryCardColor);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--lightGrayColor);

}

table svg,
thead {
    color: var(--lightGrayColor);
}

td {
    color: white;
    padding: 10px;
}

th {
    font-weight: 400;
    padding: 10px;
    text-align: left;
}

table img {
    border-radius: 50px;
    width: 30px;
}

table svg:hover {
    color: white;
    cursor: pointer;
}