.create_account {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
}

.create_account img {
    transform: scaleX(-1);
    position: relative;
    width: 35em;
}

.create_account_form .flex_box_column {
    margin-top: 15px;
}

.create_account_form label {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.create_account_form h2,
.create_account_form p {
    text-align: center;
}

.create_account_form p {
    font-size: 14px;
    color: lightgray;
    margin-top: 5px;
}

.create_account_form button {
    width: 100%;
    margin-top: 20px;
}