.home {
    display: flex;
    justify-content: center;
}

.profile_form {
    width: 37%;
}

.profile_form h2 {
    margin-top: 30px;
}

.profile_form h4 {
    margin-top: 10px;
}

.profile_form>div {
    margin-top: 15px;
}

.profile_form .flex_box_row>:nth-last-child(1) {
    margin-left: 10px;
}

.profile_form label {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.profile_form .btns_container {
    margin-top: 20px;
}