.login {
    display: flex;
    justify-content: space-between;
    padding: 10%;
}


.login .intro_text {
    padding-top: 5%;
    width: 40%;
}

.login .intro_text p {
    margin-top: 5%;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b0abab;
}

.login_container {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin-top: 6%;
}

.login_container input {
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-top: 20px;
}

.login_container input::placeholder {
    color: #4F555A;
}

.login_container button {
    background-color: #4461F2;
    margin-top: 20px;
}

.login_error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: red;
}