.login-container {
    background-color: var(--primaryColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h1 {
    color: white;
}

.login {
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 4% 4% 0 4%;
    height: 50%;
    width: 40%;
    justify-content: space-between;
    border-radius: 10px;
}

.login label {
    color: #9F9F9F;
}

.login span {
    color: black;
}

.login input {
    background-color: #F5F5F5;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
}

.login button {
    background-color: var(--primaryColor);
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.login button:hover {
    cursor: pointer;
}