.user-stats {
    display: flex;
}

.user-content {
    width: 100%;
    padding: 40px;
}


.user-stats+p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.search-container {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondaryColor);
    margin-top: 10px;
}

.search-container input {
    border: 1px solid #515151;
    outline: none;
    color: white;
    background-color: var(--secondaryColor);
    border-radius: 20px;
    padding: 5px;
    padding-left: 30px;
    width: 25%;
}

.search-container svg {
    position: relative;
    right: 57%;
    top: 6px;
}

.search-container button {
    border: none;
    background-color: var(--secondaryColor);
    padding: 5px;
    color: var(--secondaryColor);
    background-color: #E3F5FF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.search-container button:hover {
    cursor: pointer;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #777777;

}

thead {

    color: #777777;
}

td {
    color: white;
    padding: 10px;
}

th {
    font-weight: 400;
    padding: 10px;
    text-align: left;
}

table img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

table svg {
    color: #777777;
}

table svg:hover {
    cursor: pointer;
    color: white;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-left: 80%;
    margin-top: 20px;
}

.pagination button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 8px 14px 8px 14px;
    border-radius: 5px;
}

.pagination button:hover {
    cursor: pointer;
}

.pagination button:focus {
    background-color: #272727;
}