.user-content {
    width: 100%;
    padding: 40px;
}

.cards_container {
    display: flex;
}

.cards_container>div:nth-child(2) {
    margin-left: 20px;
}

.cards_container+p {
    font-size: 20px;
    margin-top: 20px;
}