* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--primaryColor);
}

:root {
  --primaryColor: #1C1C1C;
  --secondaryColor: #282828;
}