* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--primaryColor);
  color: white;
}

:root {
  --primaryColor: #1C1C1C;
  --secondaryColor: #282828;
  --darkGrayColor: #323232;
  --lightGrayColor: #777777;
  --primaryCardColor: #E3F5FF;
  --secondaryCardColor: #E5ECF6;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  height: calc(100vh - 66px);
}

.default_button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.default_input {
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 7px;
  color: white;
  margin-top: 5px;
  background-color: transparent
}

.save_button {
  background-color: #4461F2;
  width: 30%;
  height: 33px;
}

.cancel_button {
  background-color: #FDFDFD;
  border-radius: 5px;
  color: var(--primaryColor);
  width: 20%;
  margin-right: 7px;
  height: 33px;
}

.flex_box_row {
  display: flex;
}

.flex_box_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}